In [1]:
#set the values of all the sequence variables
seq_1 = 'ATCGTACGATCGATCGATCGCTAGACGTATCG'
seq_2 = 'actgatcgacgatcgatcgatcacgact'
seq_3 = "ACTGAC-ACTGT-ACTGTA----CATGTG"

In [3]:
#make three files to hold the output
output_1 = open(header_1 = ".fasta", "w")
output_2 = open(header_2 = ".fasta", "w")
output_3 = open(header_3 = ".fasta", "w")

SyntaxError: positional argument follows keyword argument (<ipython-input-3-d251c72355a2>, line 2)

In [4]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]

In [5]:
print(apes[0])
first_site = conserved_sites[2]

Homo sapiens

In [6]:
chimp_index = apes.index("Pan troglodytes")
#chimp_indes is now 1

In [7]:
last_ape = apes[-1]
print(last_ape)

Gorilla gorilla

In [8]:
ranks = ["kingdom", 'phylum', 'class', 'order', 'family']
lower_ranks = ranks[2:5]
#lower ranks are class, order, and family

In [9]:
apes.append("Pan paniscus")

In [12]:
print("There are " + str(len(apes)) + " apes")
apes. append("Pan paniscus")
print("Now there are " + str(len(apes)) + " apes")

There are 6 apes
Now there are 7 apes

In [13]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursins", "Macaca mulatta"]
primates = apes + monkeys

print(str(len(apes)) + " apes")
print(str(len(monkeys)) + " monkeys")
print(str(len(primates)) + " primates")

3 apes
2 monkeys
5 primates

In [14]:
ranks = ["kingdom", "phylum", "class", "order", "family"]
print("at the start : " + str(ranks))
ranks.reverse()
print("after reversing : " + str(ranks))
ranks.sort()
print("after sorting : " + str(ranks))

at the start : ['kingdom', 'phylum', 'class', 'order', 'family']
after reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [15]:
print(apes)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla']

In [16]:
print(apes[0] + " is an ape")

Homo sapiens is an ape

In [17]:
for ape in apes: 
    print(ape + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [18]:
print(apes)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla']

In [26]:
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

In [27]:
for ape in apes:
    name_length = len(ape)
 first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [28]:
name = "martin"
for character in name:
    print("one character is " + character)

one character is m
one character is a
one character is r
one character is t
one character is i
one character is n

In [29]:
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
print(str(species))

['melanogaster', 'simulans', 'yakuba', 'ananassae']